{{ define "main" }}
<div class="post">
  <h2 class="post-title">{{.Title}}</h2>
  <div class="post-content">
    <!-- 挂载友链朋友圈的容器 -->
    <div id="fcircleContainer">与主机通讯中……</div>
  </div>
</div>

<link rel="stylesheet" href="/fcircle-lmm.css">
<script type="text/javascript">
  var fdata = {
    apiurl: 'https://friendcircle-api-fx7ykk2ye-lmm214.vercel.app/api',
    initnumber: 20, //【可选】页面初始化展示文章数量
    stepnumber: 10,//【可选】每次加载增加的篇数
    error_img: 'https://sdn.geekzu.org/avatar/57d8260dfb55501c37dde588e7c3852c' //【可选】头像加载失败时默认显示的头像
  }
</script>
<script type="text/javascript" src="/fcircle-lmm.js"></script>
{{ end }}