{{ define "main" }}
{{ $goods := getJSON "static/goods/goods.json" }}

<div class="post">
  <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <div class="post-content goods">
  {{ .Content }}
  <div id="goods">
  {{ range $goods.good}}
  <div class="goods-bankuai img-hide">
    <div class="goods-duiqi"><img loading="lazy" decoding="async" src="{{ .image }}"></div>
    <div class="goods-jiage">{{ .jiage }}</div>
    <div class="goods-title"><a href="{{ .link }}">{{ .title }}</a></div>
    <div class="goods-note">{{ .note }}</div>
  </div>
  {{ end }}
  </div>
  </div>

  {{ if not (eq .Params.Comments "false") }}
    {{ partial "comments.html" . }}
  {{ end }}
</div>
{{ end }}