{{ define "head" }}
  {{ if .Paginator.HasPrev -}}<link rel="prefetch" href="{{ .Paginator.Prev.URL }}">{{- end }}
  {{ if .Paginator.HasNext -}}<link rel="prefetch" href="{{ .Paginator.Next.URL }}">{{- end }}
{{ end }}

{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  <div id="bber-talk"></div>
  
  <div class="posts posts-home home grid-cols-2">

    {{ range first 1 $paginator.Pages }}
    <div class="post first col-span-2 {{ if .Params.feature -}}home-1{{- end -}}">
      {{ if .Params.feature }}
        {{ if .Params.UseRelativeCover }}
          <img loading='lazy' decoding="async" src="{{ (printf "%s%s" .Permalink .Params.feature ) }}" class="post-cover home" />
        {{ else }}
          <img loading='lazy' decoding="async" src="{{ .Params.feature | absURL }}" class="post-cover home" />
        {{ end }}
      {{ end }}
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <span class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </span>
        {{ end }}
        {{ if .Params.tags }}
        <span class="">
          {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
        {{ end }}
      </div>
      <div class="post-content">
      {{ if .Truncated }}
        {{ .Summary }}
        <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
      {{ else }}
        {{ .Content }}
        {{ .Render "path"}}
      {{ end }}
      </div>
    </div>
    {{ end }}

    {{ range first 4 (after 1 $paginator.Pages) }}
    <div class="post col-span-1 home-2">
      {{ if .Params.feature }}
        {{ if .Params.UseRelativeCover }}
          <img loading='lazy' decoding="async" src="{{ (printf "%s%s" .Permalink .Params.feature ) }}" class="post-cover" />
        {{ else }}
          <img loading='lazy' decoding="async" src="{{ .Params.feature | absURL }}" class="post-cover" />
        {{ end }}
      {{ end }}
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <span class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </span>
        {{ end }}
        {{ if .Params.tags }}
        <span class="">
          {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>

  <div class="homemore"><a href="/archives/">查看更多</a></div>


  <div class="douban friends">
    <h3><a href="/friends/" onclick="clearLocalFriend()">朋友连接 </a></h3>
    <div id="friArticle" style="min-height:160px;"></div>
  </div>
  <script>
    function clearLocalFriend(){
      localStorage.removeItem("friendUpdated");
      localStorage.removeItem("friendData");
    }
  </script>
  
  <div class="home">
    <h3><a href="/album/" onclick="clearLocalAlbum()">近期光影</a></h3>
    <div id="album" style="min-height:160px;"></div>
  </div>
  <script>
    function clearLocalAlbum(){
      localStorage.removeItem("albumUpdated");
      localStorage.removeItem("albumData");
    }
  </script>
  
  <div class="home">
    {{ $goods := getJSON "static/goods/goods.json" }}
    <h3><a href="/goods/">近期好物</a></h3>
    <div id="goods">
    {{ range first 5 $goods.good}}
    <div class="goods-bankuai img-hide">
      <div class="goods-duiqi"><img loading="lazy" decoding="async" src="{{ .image }}"></div>
      <div class="goods-jiage">{{ .jiage }}</div>
      <div class="goods-title"><a href="{{ .link }}">{{ .title }}</a></div>
      <div class="goods-note">{{ .note }}</div>
    </div>
    {{ end }}
    </div>
  </div>

  {{$movieitems := getJSON "https://db.immmmm.com/movie" }}
  <div class="douban border-top sc-ksluID gFnzgG">
    <h3><a href="/movies/">近期观影</a></h3>
      <div class="items sc-dIsUp fIuTG">
          {{range $value := first 5 $movieitems.data}}
            {{ $item := $value.item }}
            {{ $itemRating := 0 }}{{ with $item.rating }}{{ $itemRating = . }}{{ end }}
            <div class="dfdORB">
              <div class="sc-hKFxyN HPRth"><div class="lazyload-wrapper"><img class="avatar" src="https://cors.immmmm.com/{{ $item.cover_image_url }}" referrer-policy="no-referrer" loading="lazy" alt=""  title="{{ $item.title }}" width="150" height="220"></div></div>
              <div class="sc-fujyAs eysHZq">
                  <div class="rating"><span class="allstardark"><span class="allstarlight" style="width:{{ mul 10 $itemRating }}%"></span></span><span class="rating_nums">{{ $itemRating }}</span></div>
              </div>
              <div class="sc-iCoGMd kMthTr"><a rel="noreferrer" href="https://neodb.social{{ $item.url }}" target="_blank">{{ $item.title }}</a></div>
            </div>
          {{end}}
      </div>
  </div>
  
  {{$bookitems := getJSON "https://db.immmmm.com/book" }}
  <div class="douban border-bottom sc-ksluID gFnzgG">
    <h3><a href="/books/">近期阅读</a></h3>
      <div class="items sc-dIsUp fIuTG">
          {{range $value := first 5 $bookitems.data}}
            {{ $item := $value.item }}
            {{ $itemRating := 0 }}{{ with $item.rating }}{{ $itemRating = . }}{{ end }}
            <div class="dfdORB">
              <div class="sc-hKFxyN HPRth"><div class="lazyload-wrapper"><img class="avatar" src="https://cors.immmmm.com/{{ $item.cover_image_url }}" referrer-policy="no-referrer" loading="lazy" alt=""  title="{{ $item.title }}" width="150" height="220"></div></div>
              <div class="sc-fujyAs eysHZq">
                  <div class="rating"><span class="allstardark"><span class="allstarlight" style="width:{{ mul 10 $itemRating }}%"></span></span><span class="rating_nums">{{ $itemRating }}</span></div>
              </div>
              <div class="sc-iCoGMd kMthTr"><a rel="noreferrer" href="https://neodb.social{{ $item.url }}" target="_blank">{{ $item.title }}</a></div>
            </div>
          {{end}}
      </div>
  </div>

{{ end }}