{{$items := getCSV "," "data/douban/book.csv" }}
{{$numb := 5}}
{{ if .Get 0 }}
    {{$numb = add (.Get 0) 1 }}
{{end}}
<div class="sc-ksluID gFnzgG">
    <div class="sc-dIsUp fIuTG">
        {{range $idx,$item := first $numb $items}}
        {{if ne $idx 0}}
            {{ $rating := float (index $item 6)}}
            <div class="sc-gKAaRy dfdORB">
                <div class="sc-hKFxyN HPRth"><div class="lazyload-wrapper"><img class="avatar" src="{{ index $item 3 }}" referrer-policy="no-referrer" loading="lazy" alt="{{ index $item 9 }}"  title="{{ index $item 1 }}" width="150" height="220"></div></div>
                <div class="sc-fujyAs eysHZq">
                    <div class="rating"><span class="allstardark"><span class="allstarlight" style="width:{{mul  10 $rating }}%"></span></span><span class="rating_nums">{{$rating}}</span></div>
                </div>
                <div class="sc-iCoGMd kMthTr"><a rel="link" href="{{ index $item 5 }}" target="_blank">{{ index $item 1 }}</a></div>
            </div>
        {{end}}
        {{end}}
    </div>
</div>