{{ $dbUrl := .Get 0 }}
{{ $dbType := replaceRE `https://(movie|book).douban.com/subject/.*` "$1" $dbUrl }}
{{ $dbID := replaceRE `.*douban.com/subject/([0-9]+)/.*` "$1" $dbUrl }}

{{ if eq $dbType "book" }}
    {{$items := getJSON "data/douban/book.json" }}
    {{range $item := $items}}
    {{if eq $item.subject.url $dbUrl }}
        <div class="doulist-item">
            <div class="doulist-subject">
                <div class="doulist-post"><img loading="lazy" decoding="async" referrerpolicy="no-referrer" src="{{ $item.subject.cover_url }}"></div>
                <div class="doulist-content">
                    <div class="doulist-title"><a href="{{ $item.subject.url }}" class="cute" target="_blank" rel="external nofollow">{{ $item.subject.title }}</a></div>
                    <div class="rating"><span class="allstardark"><span class="allstarlight" style="width:{{mul 10 $item.subject.rating.value }}%"></span></span><span class="rating_nums"> {{ $item.subject.rating.value }} </span></div>
                    <div class="abstract">{{ $item.subject.card_subtitle }}</div>
                </div>
            </div>
        </div>
    {{end}}
    {{end}}
{{ end }}

{{ if eq $dbType "movie" }}
    {{$items := getJSON "data/douban/movie.json" }}
    {{range $item := $items}}
    {{if eq $item.subject.url $dbUrl }}
        <div class="doulist-item">
            <div class="doulist-subject">
                <div class="doulist-post"><img loading="lazy" decoding="async" referrerpolicy="no-referrer" src="{{ $item.subject.pic.normal }}"></div>
                <div class="doulist-content">
                    <div class="doulist-title"><a href="{{ $item.subject.url }}" class="cute" target="_blank" rel="external nofollow">{{ $item.subject.title }}</a></div>
                    <div class="rating"><span class="allstardark"><span class="allstarlight" style="width:{{mul 10 $item.subject.rating.value }}%"></span></span><span class="rating_nums"> {{ $item.subject.rating.value }} </span></div>
                    <div class="abstract">{{ $item.subject.card_subtitle }}</div>
                </div>
            </div>
        </div>
    {{end}}
    {{end}}
{{ end }}