{{- if .Get 4 -}}
  <figure>
    <img loading='lazy' decoding="async" src="{{ .Get 0 | safeURL }}" width="24%"/><img loading='lazy' decoding="async" src="{{ .Get 1 | safeURL }}" width="24%" /><img loading='lazy' decoding="async" src="{{ .Get 2 | safeURL }}" width="24%" /><img loading='lazy' decoding="async" src="{{ .Get 3 | safeURL }}" width="24%" />
    <figcaption>{{ .Get 4 | markdownify }}</figcaption>
  </figure>
{{- else if .Get 3 -}}
  <figure>
    <img loading='lazy' decoding="async" src="{{ .Get 0 | safeURL }}" width="33%"/><img loading='lazy' decoding="async" src="{{ .Get 1 | safeURL }}" width="33%" /><img loading='lazy' decoding="async" src="{{ .Get 2 | safeURL }}" width="33%" />
    <figcaption>{{ .Get 3 | markdownify }}</figcaption>
  </figure>
{{- else if .Get 2 -}}
  <figure>
    <img loading='lazy' decoding="async" src="{{ .Get 0 | safeURL }}" width="50%"/><img loading='lazy' decoding="async" src="{{ .Get 1 | safeURL }}" width="50%" />
    <figcaption>{{ .Get 2 | markdownify }}</figcaption>
  </figure>
{{- else -}}
  <figure>
    <img loading='lazy' decoding="async" src="{{ .Get 0 | safeURL }}"/>
    {{- if .Get 1 -}}
    <figcaption>{{ .Get 1 | markdownify }}</figcaption>
    {{- end -}}
  </figure>
{{ end }}