{{$URL := .Get 0}}
{{ with .Site.GetPage $URL }}

{{ with .Params.feature }}
	{{ $.Scratch.Set "feature" . }}
{{ else }}
	{{ with findRE `!\[(.*?)\]\((.*?)\)` .RawContent }}
		{{ range first 1 . }}
			{{ $url := replaceRE `!\[(.*?)\]\((.*?)\)` "$2" . }}
			{{$.Scratch.Set "feature" $url }}
		{{ end }}
	{{ else }}
		{{ $.Scratch.Set "feature" false }}
	{{ end }}
{{ end }}

<div class="post-preview">
  <div class="post-preview--meta" style="width:100%;">
    <div class="post-preview--middle">
      <h4 class="post-preview--title">
        <a target="_blank" href="{{ .Permalink }}">{{ .Title }}</a>
      </h4>
      <time class="post-preview--date">{{ .Date.Format ( default "2006-01-02") }}</time>
      {{ if .Params.tags }}
      <small>{{ range .Params.tags }}#{{ . }}&nbsp;{{ end }}</small>
      {{ end }}
      <section style="max-height:96px;overflow:hidden;" class="post-preview--excerpt">
        {{ .Summary | plainify }}
      </section>
    </div>
  </div>
  {{with ($.Scratch.Get "feature")}}
    <img rel="link" loading="lazy" class="post-preview--image avatar" src="{{ . }}">
  {{end}}
</div>
{{ end }}