<div id="momos-ss"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      var bbUrl = "https://me.edui.fun/api/memo?creatorId=101&rowStatus=NORMAL&limit=5"
      fetch(bbUrl).then(res => res.json()).then( resdata =>{
          var result = '',resultAll="",data = resdata.data
          for(var i=0;i < data.length;i++){
              var bbTime = new Date(data[i].createdTs * 1000).toLocaleString()
              var bbCont = data[i].content
              var newbbCont = bbCont.replace(/!\[.*?\]\((.*?)\)/g,' <a href="$1" target="_blank">🌅</a> ').replace(/\[(.*?)\]\((.*?)\)/g,' <a href="$2" target="_blank">$1 🔗</a> ')
              result += `<li class="item"><span class="datetime">${bbTime}</span>： ${newbbCont}</li>`;
          }
          var bbDom = document.querySelector('#momos-ss');
          var bbBefore = `<div class="momos-sswrap"><ul class="momos-sslist">`
          var bbAfter = `</ul></div>`
          resultAll = bbBefore + result + bbAfter
          bbDom.innerHTML = resultAll;
          //相对时间
          window.Lately && Lately.init({ target: '.datetime' });
      });
    });
</script>