{{$items := getJSON "data/douban/movie.json" }}
{{$numb := 4}}
{{ if .Get 0 }}
    {{$numb = .Get 0 }}
{{end}}
<div class="sc-ksluID gFnzgG">
    <div class="sc-dIsUp fIuTG">
        {{range $item := first $numb $items}}
            <div class="sc-gKAaRy dfdORB">
                <div class="sc-hKFxyN HPRth"><div class="lazyload-wrapper"><img class="avatar" src="{{ $item.subject.cover_url }}" referrer-policy="no-referrer" loading="lazy" alt="{{ $item.comment }}"  title="{{ $item.subject.title }}" width="150" height="220"></div></div>
                <div class="sc-fujyAs eysHZq">
                    <span class="sc-jSFjdj jcTaHb">
                    {{range $star := (seq 0 2 8)}}
                        <svg viewBox="0 0 24 24" width="24" height="24" class="sc-dlnjwi {{if gt ($item.subject.rating.value) $star}}lhtmRw{{else}}gaztka{{end}}"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z"></path></svg>
                    {{end}}
                    </span>
                    <span class="sc-pNWdM iibjPt">{{ $item.subject.rating.value }}</span>
                </div>
                <div class="sc-iCoGMd kMthTr"><a rel="link" href="{{ $item.subject.url }}" target="_blank">{{ $item.subject.title }}</a></div>
            </div>
        {{end}}
    </div>
</div>