  <!-- valine -->
  {{- if .Site.Params.valine.enable -}}
  <div class="pagination__title">
       <span class="pagination__title-h"><span class="valine-comment-count" data-xid="{{ .RelPermalink }}"></span> 条评论</span>
       <hr />
  </div>
  <div id="comments"></div>
  <script>
    loadComments();
    function loadComments() {
        if (typeof Valine === 'undefined') {
            var getScript = (options) => {
                var script = document.createElement('script');
                script.defer = true;
                script.crossOrigin = 'anonymous';
                Object.keys(options).forEach((key) => {
                    script[key] = options[key];
                });
                document.body.appendChild(script);
            };
            getScript({
                src: 'https://cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.Pure.min.js',
                onload: () => {
                    newValine();
                }
            });
        } else {
            newValine();
        }
    }
    function newValine() {
      new Valine({
        el: '#comments' ,
        recordIP : true,
        appId: '{{ .Site.Params.valine.appId }}',
        appKey: '{{ .Site.Params.valine.appKey }}',
        placeholder: '{{ .Site.Params.valine.placeholder }}',
        visitor: {{ .Site.Params.valine.visitor }}
      });
      function diyValine() {
        document.querySelector("span.vemoji-btn").innerHTML = '😀';
        jinrishici.load(function(result) {
            var jrsc_plac =  result.data.content + "\n「" + result.data.origin.title + "」" + result.data.origin.dynasty + " · " + result.data.origin.author
            document.getElementById("veditor").setAttribute("placeholder",jrsc_plac);
        });
      }
      setTimeout(diyValine, 1000);
    }
  </script>
  <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js"></script>
  <script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        $("#comments").on('click', 'span.vat',function(){
        	$(this).parent('div.vmeta').next("div.vcontent").after($("div.vwrap"));
        	$('textarea#veditor').focus();
        })
        if(window.location.hash){
        	var checkExist = setInterval(function() {
        		if ($(window.location.hash).length) {
                $('html, body').animate({scrollTop: $(window.location.hash).offset().top-90}, 1000);
                            clearInterval(checkExist);
                        }
                }, 100);
        }
    });
  </script>
  {{- end }}
