<!-- twikoo -->
{{- if .Site.Params.twikoo.enable -}}
<div class="pagination__title">
  <span class="pagination__title-h">欢迎评论</span>
  <hr />
</div>
  <div id="waline"></div>
  <script type="text/javascript" src="/waline271.js"></script>
  <link href='/waline271.css' rel='stylesheet' />
  <script>
        const params = new URLSearchParams(location.search.slice(1));
        const waline = Waline.init({
          el: '#waline',
          dark: 'body[class="dark-theme"]',
          serverURL: 'https://wa.edui.fun',
          comment: true, // 评论数统计
          pageview: true, // 浏览量统计
        });
  </script>
{{- end }}