<!-- twikoo -->
{{- if .Site.Params.twikoo.enable -}}
<div class="pagination__title">
  <span class="pagination__title-h">欢迎评论</span>
  <hr />
</div>
  <div id="tcomment"></div>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@1.5.0/dist/twikoo.all.min.js"></script>
  <script>twikoo.init({ envId: 'twikoo-2g36bkuz88660f27', el: '#tcomment' })</script>
{{- end }}

  <script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      var checkComments = setInterval(function() {
        var counts = $('.tk-comments-title').find('span').first().text();
        if (counts) {
          $('#twikoo_count').text(counts)
          clearInterval(checkComments);
        }
      }, 1000);
      if(window.location.hash){
        var checkExist = setInterval(function() {
          if ($(window.location.hash).length) {
            $('html, body').animate({scrollTop: $(window.location.hash).offset().top-90}, 1000);
            clearInterval(checkExist);
          }
        }, 100);
      }
    });
  </script>