:root {
	--light-background: #fafafa;
	--light-background-secondary: #eaeaea;
	--light-header: #fff;
	--light-color: #222;
	--light-color-secondary: #999;
	--light-border-color: #dcdcdc;
	--dark-background: #2f2f2f;
	--dark-background-secondary: #3b3d42;
	--dark-header: #252627;
	--dark-color: #f5f5f5;
	--dark-color-secondary: #73747b;
	--dark-border-color: #4a4b50;
	--phoneWidth: (max-width:684px);
	--tabletWidth: (max-width:900px)
}

.button-container {
	display: table;
	margin-left: auto;
	margin-right: auto
}

.button,a.button,button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 18px;
	margin-bottom: 5px;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	border-radius: 8px;
	border: 1px solid transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none
}

.dark .button,.dark a.button,.dark button {
	background: #3b3d42;
	background: var(--dark-background-secondary);
	color: inherit
}

.button.outline,a.button.outline,button.outline {
	background: transparent;
	border-color: #eaeaea;
	border-color: var(--light-background-secondary);
	box-shadow: none;
	padding: 8px 18px
}

.dark .button.outline,.dark a.button.outline,.dark button.outline {
	border-color: #3b3d42;
	border-color: var(--dark-background-secondary);
	color: inherit
}

.button.outline :hover,a.button.outline :hover,button.outline :hover {
	-webkit-transform: none;
	transform: none;
	box-shadow: none
}

.button.primary,a.button.primary,button.primary {
	box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}

.button.primary:hover,a.button.primary:hover,button.primary:hover {
	box-shadow: 0 2px 6px rgba(50,50,93,.21),0 1px 3px rgba(0,0,0,.08)
}

.button.link,a.button.link,button.link {
	background: none;
	font-size: 1rem
}

.button.small,a.button.small,button.small {
	font-size: .8rem
}

.button.wide,a.button.wide,button.wide {
	min-width: 200px;
	padding: 14px 24px
}

a.read-more,a.read-more:active,a.read-more:hover {
	display: inline-flex;
	background: none;
	box-shadow: none;
	padding: 0;
	margin: 20px 0 0;
	font-weight: 700
}

.dark a.read-more,.dark a.read-more:active,.dark a.read-more:hover {
	background: none
}

.code-toolbar {
	margin-bottom: 20px
}

.code-toolbar .toolbar-item a {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 3px 8px;
	margin-bottom: 5px;
	background: #eaeaea;
	background: var(--light-background-secondary);
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	border-radius: 8px;
	border: 1px solid transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none
}

.dark .code-toolbar .toolbar-item a {
	background: #3b3d42;
	background: var(--dark-background-secondary);
	color: inherit
}

.header {
	background: #fafafa;
	background: var(--light-header);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 20px 30px;
	box-shadow: inset 0 -1px var(--light-background-secondary);
}

.dark .header {
	background: #252627;
	background: var(--dark-header);
	box-shadow: inset 0 -1px var(--dark-background-secondary);
}

.header__right {
	display: flex;
	flex-direction: row;
	align-items: center
}

@media (max-width:683px) {
	.header__right {
		flex-direction: row-reverse
	}
}

.header__inner {
	justify-content: space-between;
	margin: 0 auto;
	width: 900px;
	max-width: 100%
}

.header__inner,.theme-toggle {
	display: flex;
	align-items: center
}

.theme-toggle {
	justify-content: center;
	line-height: 1;
	cursor: pointer
}

.theme-toggler {
	fill: currentColor
}

.logo {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	text-decoration: none;
}

.logo img {
	height: 44px
}

.logo__mark {
	display: inline-flex;
	align-items: center;
	margin-right: 5px
}

.logo__mark .greater-icon {
	width: .95rem;
	height: 100%
}

.logo__mark .greater-icon path {
	stroke: currentColor;
	stroke-width: 8px
}

.logo__text {
	font-size: 1.125rem
}

.logo__cursor {
	display: inline-block;
	width: 2px;
	height: 1.125rem;
	background: #fe5186;
	margin-left: 5px;
	border-radius: 1px;
	-webkit-animation: cursor 1s infinite;
	animation: cursor 1s infinite
}

@-webkit-keyframes cursor {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

@keyframes cursor {
	0% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	to {
		opacity: 0
	}
}

.menu {
	--shadow-color: rgba(0,0,0,0.12);
	--shadow: 0 8px 20px var(--shadow-color);
	border-right: 1px solid;
	margin-right: 18px;
	padding-right: 24px;
}

@media (max-width:683px) {
	.menu {
		position: absolute;
		background: #fafafa;
		background: var(--light-header);
		box-shadow: var(--shadow);
		margin: 0;
		padding: 5px;
		list-style: none;
		border-radius: 5px;
		z-index: 99;
		border: none;
		top: 50px;
		right: 10px
	}

	.dark .menu {
		background: #3b3d42;
		background: var(--dark-background-secondary)
	}
}

.menu a {
	text-decoration: none
}

.menu__inner {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0
}

@media (max-width:683px) {
	.menu__inner--desktop {
		display: none
	}
}

.menu__inner--mobile {
	display: none
}

@media (max-width:683px) {
	.menu__inner--mobile {
		display: block
	}
}

.menu__inner li {
	text-align: left;
	flex: 0 0 auto
}

.menu__inner li:not(:first-of-type) {
	margin-left: 20px
}

@media (max-width:683px) {
	.menu__inner {
		flex-direction: column;
		align-items: flex-start;
		padding: 0
	}

	.menu__inner li {
		margin-left: 0!important;
		padding: 10px
	}
}

.menu__sub-inner {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0
}

.menu__sub-inner:not(:only-child) {
	margin-left: 20px
}

.menu__sub-inner-more {
	position: absolute;
	background: #fafafa;
	background: var(--light-header);
	box-shadow: var(--shadow);
	margin: 0;
	padding: 5px;
	list-style: none;
	border-radius: 5px;
	z-index: 99;
	top: 35px;
	left: 0
}

.dark .menu__sub-inner-more {
	background: #3b3d42;
	background: var(--dark-background-secondary)
}

.menu__sub-inner-more-trigger {
	display: inline-flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}

.menu__sub-inner-more-trigger-icon {
	display: inline-flex;
	align-items: center;
	margin-left: 3px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	line-height: 1
}

.menu__sub-inner-more-trigger-icon .greater-icon {
	width: .95rem;
	height: 100%
}

.menu__sub-inner-more-trigger-icon .greater-icon path {
	stroke: currentColor;
	stroke-width: 5px
}

.menu__inner .menu__sub-inner-more li {
	margin-left: 0;
	padding: 0px 12px;
	white-space: nowrap
}

.menu__inner .menu__sub-inner-more li:hover {
	background: rgba(0,0,0,.05);
	border-radius: 3px;
	cursor: pointer
}

.dark .menu__inner .menu__sub-inner-more li:hover {
	background: rgba(0,0,0,.15)
}

.menu-trigger {
	width: 24px;
	height: 24px;
	fill: currentColor;
	margin-left: 10px;
	cursor: pointer
}

html {
	box-sizing: border-box
}

*,:after,:before {
	box-sizing: inherit
}

body {
	margin: 0;
	padding: 0;
	font-family: "LXGW WenKai Screen",-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 2.2;
	background-color: #fff;
	background-color: var(--light-background);
	color: #222;
	color: var(--light-color);
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%
}

@media (max-width:683px) {
	body {
		font-size: 1rem
	}
}

body.dark {
	background-color: #292a2d;
	background-color: var(--dark-background);
	color: #a9a9b3;
	color: var(--dark-color)
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.3
}

h1 {
	font-size: 2.625rem
}

h2 {
	font-size: 1.625rem
}

h3 {
	font-size: 1.375rem
}

h4 {
	font-size: 1.125rem
}

@media (max-width:683px) {
	h1 {
		font-size: 2rem
	}

	h2 {
		font-size: 1.4rem
	}

	h3 {
		font-size: 1.15rem
	}

	h4 {
		font-size: 1.125rem
	}
}

a {
	color: inherit
}

img {
	border-radius: 4px;
	display: inline-block;
	max-width: 100%
}

img.center,img.left {
	margin-right: auto
}

img.center,img.right {
	margin-left: auto
}

figure {text-align: center;margin:0;}
figure figcaption {margin:0.5rem auto 1rem;width:45%;border-top: 1px solid #bbb;font-size:0.8em;color:#bbb;padding:5px;line-height:1.8em;}
figure figcaption:before {content: "◎ ";}
figure img{max-width:100%;border-radius:0;}
@media (max-width:683px) {
	figure figcaption {width: 75%;}
}
code {
	font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
	background: #eaeaea;
	background: var(--light-background-secondary);
	padding: 1px 6px;
	margin: 0 2px;
	border-radius: 5px;
	font-size: .9rem;
	font-weight: 400;
}

.dark code {
	background: #3b3d42;
	background: var(--dark-background-secondary)
}

pre {
	background: #212020;
	padding: 20px;
	border-radius: 8px;
	font-size: .9rem;
	overflow: auto;
	max-height: 50vh;
}

@media (max-width:683px) {
	pre {
		white-space: pre-wrap;
		word-wrap: break-word
	}
}

pre code {
	background: none!important;
	color: #ccc;
	margin: 0;
	padding: 0;
	font-size: .7rem;
	line-height:1
}

.dark pre code {
	color: inherit
}

blockquote {
	border-left: 2px solid;
	margin: 1.4rem;
	padding: 0.8rem 1.2rem;
	font-family: KaiTi,STKaiti,PingFang SC,STFangsong !important;
}
blockquote p{margin:0;}
.home blockquote {margin:0;padding:0 10px;}

@media (max-width:683px) {
	blockquote {
		margin: 10px;
		padding: 10px
	}
}

blockquote p:first-of-type {
	margin-top: 0
}

blockquote p:last-of-type {
	margin-bottom: 0
}

table {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	margin: 40px 0;
	border-radius: 5px
}

table,td,th {
	border: 1px solid;
	padding: 10px
}

th {
	background: #eaeaea;
	background: var(--light-background-secondary)
}

.dark th {
	background: #3b3d42;
	background: var(--dark-background-secondary)
}

ol,ul {
	margin-left: 40px;
	padding: 0
}

@media (max-width:683px) {
	ol,ul {
		margin-left: 20px
	}
}

ol ol {
	list-style-type: lower-alpha
}

.container {
	flex-direction: column;
	text-align: center;
	overflow: hidden;
}
.container,.content {
	display: flex;
	justify-content: center
}
.content {
	flex-direction: column;
	flex: 1 auto;
	align-items: center;
	border-bottom: 1px solid var(--light-background-secondary);
}
.dark .content {border-bottom: 1px solid var(--dark-background-secondary);}

@media (max-width:683px) {
	.content {
		margin-top: 0
	}
}

hr {
	width: 100%;
	border: none;
	background: #dcdcdc;
	background: var(--light-border-color);
	height: 1px
}

.dark hr {
	background: #4a4b50;
	background: var(--dark-border-color)
}

.hidden {
	display: none
}

.post {
	width: 100%;
	max-width: 1000px;
	text-align: left;
	padding: 20px 20px 40px;
	margin: 40px auto
}
.post:first-of-type{
	margin:0 auto 40px;
}

@media (max-width:899px) {
	.post {
		max-width: 860px
	}
}

.post:not(:last-of-type) {
	border-bottom: 1px solid #dcdcdc;
	border-bottom: 1px solid var(--light-border-color)
}

.dark .post:not(:last-of-type) {
	border-color: #4a4b50;
	border-color: var(--dark-border-color)
}

.post-meta {
	font-size: 1rem;
	margin-bottom: 10px
}

.post-meta a{text-decoration: none;}

@media (max-width:683px) {
	.post-meta {
		font-size: .85rem
	}
}

.post-avatar.avatar{width:48px;margin:8px 1rem 0 0;border-radius:50%;box-shadow: 0 12px 40px rgba(0,0,0,.15);float:left;}

.post-title {
	font-weight: 400;
	font-size: 2.2rem;
	margin: 0 0 10px;
	--shadow-color: rgba(0,0,0,0.12);
	--shadow: 0 8px 20px var(--shadow-color);
}
.home-1 .post-title{font-size: 1.8rem;margin-bottom:.5rem !important;}
@media (max-width:683px) {
	.post-title {
		font-size: 2rem
	}
}

.post-title a {
	text-decoration: none
}
.home-2 .post-title a {
	line-height: 2.2rem;
    letter-spacing: 2px;
}
@media (max-width:899px) {
	.home-1 .post-title a {
		line-height: 2rem;
		letter-spacing: 1px;
	}
	.home-2 .post-title a {
		line-height: 1.6rem;
		letter-spacing: 0;
	}
}
.post-tags {
	display: block;
	margin-bottom: 20px;
	font-size: 1rem;
	opacity: .5
}

.post-tags a {
	text-decoration: none
}

#all-tags a{
	font-size: 1.2rem;
	text-decoration: none;
	margin-right: 1rem;
}
@media (max-width:683px) {
	#all-tags a{
		font-size: 0.95rem;
		margin-right: 0.5rem;
	}
}
.post-content {
	font-family: "LXGW WenKai Screen", -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,serif;
	font-weight: 500;
	margin-top: 0px;
	word-break:break-all;
	min-height: 70px;
}
.post-content h3,.post-content h4{
	position: relative;left: 2em;margin: 28px auto 18px!important;letter-spacing: 2px;
}
.post-content h3:before{
    content: "##";
    color: #42b983;
    position: absolute;
    left: -2em;
}
.post-content h4{left:2.5em;}
.post-content h4:before {content:"###";left:-2.5em;color: #42b983;position: absolute;}
.post-content h4.post-preview--title{margin:0 !important;left:0;}
.post-content h4.post-preview--title:before{content:"";left:0;}
.post-cover {
    border-radius: 8px;
	margin: 40px -50px;
    width: 1060px;
    max-width: 1060px;
	box-shadow: 0 4px 6px rgba(0,0,0,.04);
}
.home{width:100%;margin:0 auto;max-width:1000px;}
.home .post{border-bottom:none;padding-bottom:0;margin:0 auto;}
.home.posts,.home-1.post{margin-bottom:1rem;}
.home-1 .post-cover{
	float: left;
	margin: 0 20px 20px 0;
    width: 460px;
	height: 100%;
	-o-object-fit: cover;
    object-fit: cover;
    max-width: 460px;
}
.home-1 .post-title,.home-1 .post-meta,.home-1 .post-content{margin-left:500px;}
.home .post-title,.home .post-meta{margin-bottom:0;}
.home .read-more.button{margin-top:0;}
.home .post .post-content p{margin:0;}
.home-2{margin-bottom:2rem !important;}
.home-2 .post-cover{
	float: right;
	margin: 0 0 0 20px;
    width: 90px;
	height: 90px;
    max-width: 90px;
	-o-object-fit: cover;
    object-fit: cover;
	box-shadow: 0 5px 25px rgba(0,0,0,.15);
}
.home-2 .post-title,.home-2 .post-meta{margin-right:140px;}
.home-2 .post-title{font-size: 1.6rem;}
.home #album,.home #goods{padding:0 1rem;margin-bottom: 2rem;}
.home #goods{grid-template-columns: repeat(auto-fill,minmax(180px,1fr));grid-gap:1rem;}
.home .goods-bankuai{height:294px;text-align: left;}
.home .goods-duiqi{min-height: 120px;}
.douban{text-align:left;padding:0 20px;background: #fafafa;background: var(--light-header);width:100%;}
.douban .items,.douban h3{max-width:1000px;width:100%;margin:0 auto;}
.douban .items{padding:0 20px;}
.douban{border-top: 1px solid var(--light-background-secondary);border-bottom: 1px solid var(--light-background-secondary);}
.dark .douban{background: #252627;background: var(--dark-header);border-top: 1px solid var(--dark-background-secondary);border-bottom: 1px solid var(--dark-background-secondary);}

.douban.border-top{border-bottom-width:0;}
.douban.border-bottom{border-top-width:0;margin-bottom: -1px;}

.douban h3,.home h3{
	position: relative;
    left: 3rem;
    margin: 28px auto 18px!important;
    letter-spacing: 4px;
	text-align: left;
	display: block;
}
.douban h3:before,.home h3:before {
    content: "##";
    color: #42b983;
    position: absolute;
    left: -2rem;
	letter-spacing: 0;
}
.douban.friends{padding-top:1.2rem;}
.douban .dfdORB{width: 16%;}
.home .post{flex-direction: column;}

#friArticle,#bbsHub{display:flex;flex-wrap:wrap;justify-content:center;margin:1.5rem 0 2rem;padding:0 20px;}
.fri-avatar{border-radius: 50%;height: 38px;width: 38px;max-width:none;}
.fri-item{overflow: hidden;max-height:49px;border-radius:3rem;background: #fff;padding: 5px 2rem 5px 7px;margin: 0 0.6rem 1rem 0;display: inline-block;display: flex;box-shadow: 0 1px 2px rgba(0,0,0,.05);border: 1px solid var(--light-background-secondary);}
.dark .fri-item{background: #3b3d42;border: 1px solid var(--dark-background-secondary);}
.fri-cont{line-height:1rem;display: inline-block;margin-left: 10px;font-size: 1rem;}
.fri-title{line-height: 24px;white-space: nowrap;max-width:350px;text-overflow:ellipsis;overflow:hidden;}
.fri-title a,.douban h3 a,.home h3 a{text-decoration:none;}
.fri-updated{font-style: italic;font-size: small;}
.douban h3 a,.home h3 a{text-decoration:none;padding:0 1.5rem 0 0.2rem;background: url("data:image/svg+xml,%3Csvg fill='black' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M557.227 346.027L617.6 406.4a298.667 298.667 0 0 1 0 422.4l-15.104 15.061a298.667 298.667 0 0 1-422.4-422.4l60.373 60.374A213.333 213.333 0 1 0 542.165 783.53l15.104-15.104a213.333 213.333 0 0 0 0-301.654L496.896 406.4l60.373-60.33zM843.86 602.496l-60.33-60.33a213.333 213.333 0 1 0-301.696-301.697l-15.104 15.104a213.333 213.333 0 0 0 0 301.654l60.373 60.373-60.373 60.33L406.4 617.6a298.667 298.667 0 0 1 0-422.4l15.104-15.061a298.667 298.667 0 0 1 422.4 422.4z'/%3E%3C/svg%3E") no-repeat right center;}
.dark .douban h3 a,.dark .home h3 a{background: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M557.227 346.027L617.6 406.4a298.667 298.667 0 0 1 0 422.4l-15.104 15.061a298.667 298.667 0 0 1-422.4-422.4l60.373 60.374A213.333 213.333 0 1 0 542.165 783.53l15.104-15.104a213.333 213.333 0 0 0 0-301.654L496.896 406.4l60.373-60.33zM843.86 602.496l-60.33-60.33a213.333 213.333 0 1 0-301.696-301.697l-15.104 15.104a213.333 213.333 0 0 0 0 301.654l60.373 60.373-60.373 60.33L406.4 617.6a298.667 298.667 0 0 1 0-422.4l15.104-15.061a298.667 298.667 0 0 1 422.4 422.4z'/%3E%3C/svg%3E") no-repeat right center;}
.homemore a{bottom: -20px;position: relative;z-index: 999;text-decoration: none;padding: .8rem 3rem;border-radius: 3rem;background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.05);border: 1px solid var(--light-background-secondary);}
.dark .homemore a{background: #3b3d42;border: 1px solid var(--dark-background-secondary);}

#bbsHub p{margin:0;}
#bbsHub .fri-item{padding:2px 5px;border-radius:0.5rem;}
#bbsHub .fri-item .fri-cont{margin-left:5px;}

@media (min-width: 768px){
	.grid-cols-2{display: grid;grid-template-columns: repeat(2,minmax(0,1fr));gap:0rem;}
	.col-span-1 {grid-column: span 1/span 1;}
	.col-span-2{grid-column: span 2/span 2;}
}
.home .memos-photo-wrapper {grid-template-columns: repeat(6,minmax(0,1fr));}
.home .memos-photo{max-height:160px;}
.douban .eysHZq .allstardark{display: block !important;}
@media (max-width:899px) {
	.post-cover {
		margin: 20px 0;
		width: 100%
	}
	.home-1 .post-cover{
		margin:0 0 2rem;
		width: 100%;
		max-width: 100%;
    	float: none;
	}
	.home-1 .post-title,.home-1 .post-meta,.home-1 .post-content{margin-left:0;}
	.home .memos-photo-wrapper {grid-template-columns: repeat(3,minmax(0,1fr));}
	.home .memos-photo{max-height:130px;}
	.home .read-more.button{margin-bottom:1rem;}
	.home .goods-bankuai {height: 194px;}
	.home .goods-duiqi{min-height: 40px !important;max-height:6rem !important;}
	.home .goods-bankuai:nth-child(n+5){display:none;}
	.douban{padding:0;}
}
@media (min-width: 550px) and (max-width:899px) {
	.douban .dfdORB{width: 20%;}
	.douban .dfdORB:nth-child(n+5){display:none;}
	.fri-cont{width: 100%;}
	.fri-title{width:calc(100% - 50px);}
	.fri-item{width:48%;}
	.fri-item:nth-child(n+15){display:none;}
}
@media (max-width:549px) {
	.douban .dfdORB{width: 46%;}
	.douban .dfdORB:nth-child(n+5){display:none;}
	#friArticle{display: block;}
	.fri-cont{width: 100%;}
	.fri-title{width:calc(100% - 50px);}
	.fri-item{width:100%;}
	.fri-item:nth-child(n+7){display:none;}
}

.post--regulation h1,.post--regulation h2 {
	justify-content: center
}

.post--regulation h2 {
	margin-bottom: 10px
}

.post--regulation h2+h2 {
	margin-top: -10px;
	margin-bottom: 20px
}

.pagination {
	margin-top: 50px
}

.pagination__title {
	display: flex;
	text-align: center;
	position: relative;
	margin: 60px 0
}

.pagination__title-h {
	text-align: center;
	margin: 0 auto;
	padding: 5px 10px;
	background: #fff;
	background: var(--light-background);
	color: #999;
	color: var(--light-color-secondary);
	font-size: .8rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	z-index: 1
}

.dark .pagination__title-h {
	background: #292a2d;
	background: var(--dark-background);
	color: #73747b;
	color: var(--dark-color-secondary)
}

.pagination__title hr {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin-top: 15px;
	z-index: 0
}

.pagination__buttons {
	display: flex;
	align-items: center;
	justify-content: center
}

.pagination__buttons a {
	text-decoration: none;
	font-weight: 500
}

.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #eaeaea;
	background: var(--light-background-secondary);
	font-size: 1rem;
	font-weight: 600;
	border-radius: 8px;
	max-width: 40%;
	padding: 0;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.dark .button {
	background: #3b3d42;
	background: var(--dark-background-secondary)
}

.button+.button {
	margin-left: 10px
}

.button a {
	display: flex;
	padding: 8px 16px;
	text-decoration: none
}

.button__text,.button a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.button.next .button__icon {
	margin-left: 8px
}

.button.previous .button__icon {
	margin-right: 8px
}

.footer {
	width: 100%;
	margin: 0 auto;
	padding: 50px 20px 20px;
	flex-grow: 0;
	color: #999;
	color: var(--light-color-secondary);
	background: var(--light-header);
}
.home-footer{
	background:var(--light-background);
}

.dark .footer {
	background:var(--dark-header);
	color: #73747b;
	color: var(--dark-color-secondary)
}
.dark .footer.home-footer{
	background:var(--dark-background);
}
.footer__inner {
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 100%
}

@media (max-width:899px) {
	.footer__inner {
		flex-direction: column
	}
}

.footer a {
	color: inherit
}

.footer .copyright {
	flex-direction: row;
	align-items: center;
	font-size: 1rem
}
.footer .copyright-font{
	margin-bottom: 2rem;
	font-family:  "LXGW WenKai Screen", -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,serif;
}
.footer .copyright--user {
	margin: auto;
	text-align: center
}

.footer .copyright>:first-child:not(:only-child) {
	border-right: 1px solid;
	padding-right: 10px;
	margin-right: 10px
}

@media (max-width:899px) {
	.footer .copyright>:first-child:not(:only-child) {
		border: none;
		padding: 0;
		margin: 0
	}
}

@media (max-width:899px) {
	.footer .copyright {
		flex-direction: column;
		margin-top: 10px
	}
}

.terms {
	width: 100%;
	max-width: 800px;
	text-align: left;
	padding: 20px;
	margin: 0 auto
}

.terms__list {
	padding: 0 0 0 20px;
	margin: 0
}

.terms__list a {
	text-decoration: none
}

.terms__term {
	margin-bottom: 15px
}

.terms__term-count {
	background: #eaeaea;
	background: var(--light-background-secondary);
	font-size: 12px;
	margin-left: 5px;
	padding: 2px 10px;
	border-radius: 5px;
	text-decoration: none
}

.dark .terms__term-count {
	background: #3b3d42;
	background: var(--dark-background-secondary)
}

.archive {
	width: 100%;
	max-width: 1000px;
	text-align: left;
	padding: 20px;
	margin: 0 auto
}
.archive .grid-cols-2{gap:0 4rem;}
.archive .post{border:none;}
.archive .home.posts,.archive  .home-1.post{margin-bottom:0;}
.archive__group-month {padding: 10px 0}
.archive__group-month h3{position: relative;}
.archive__group-month h3:before {
    content: "##";
    color: #42b983;
    position: absolute;
    left: -2rem;
    letter-spacing: 0;
}

.archive__group-year {margin-top: 40px}

@media (max-width:683px) {
	.archive__group-year {
		margin-top: 20px
	}
}

.archive__group-year-header {
	margin: 10px 0
}

.archive__group-month-header {
	margin: 25px 0;
	width: 200px;
	opacity: .5
}

.archive__group-posts {width: 100%}
.archive .post{padding:0;margin:0;}
.archive__post {padding:1.85rem 0 20px 0}
.archive__post-title {
	margin:0 0 15px;
	overflow: hidden;
}

.archive__post-title a {
	display: block;
	text-decoration: none
}
.archive__post-title a span.post-date{
	font-size: 15px;
	float: right;
	opacity: .8
}
@media (max-width:683px) {
	.archive__group-month-header {
		margin: 10px 0 0
	}
	.archive__post {width: 100%;}
}

code[class*=language-],pre[class*=language-] {
	background: none;
	font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
	text-align: left;
	word-spacing: normal;
	word-break: break-word;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
}

pre[class*=language-] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto
}

:not(pre)>code[class*=language-],pre[class*=language-] {
	background: #212020!important;
	color: inherit!important;
	border-radius: 8px
}

:not(pre)>code[class*=language-] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal
}

.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog {
	color: hsla(0,0%,100%,.4)
}

.token.punctuation {
	color: #a9a9b3
}

.token.attr-name,.token.deleted,.token.namespace,.token.tag {
	color: #e2777a
}

.token.function-name {
	color: #6196cc
}

.token.boolean,.token.function,.token.number {
	color: #f08d49
}

.token.class-name,.token.constant,.token.property,.token.symbol {
	color: #f8c555
}

.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector {
	color: #cc99cd
}

.token.attr-value,.token.char,.token.regex,.token.string,.token.variable {
	color: #7ec699
}

.token.entity,.token.operator,.token.url {
	color: #67cdcc
}

.token.bold,.token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}

.token.inserted {
	color: green
}

pre[class*=language-].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
	position: relative;
	white-space: inherit
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.line-numbers-rows>span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber
}

.line-numbers-rows>span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: .8em;
	text-align: right
}

div.code-toolbar {
	position: relative
}

div.code-toolbar>.toolbar {
	position: absolute;
	top: .3em;
	right: .2em;
	transition: opacity .3s ease-in-out;
	opacity: 0
}

div.code-toolbar:hover>.toolbar {
	opacity: 1
}

div.code-toolbar>.toolbar .toolbar-item {
	display: inline-block
}

div.code-toolbar>.toolbar a {
	cursor: pointer
}

div.code-toolbar>.toolbar button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

div.code-toolbar>.toolbar a,div.code-toolbar>.toolbar button,div.code-toolbar>.toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 0 .5em;
	background: #f5f2f0;
	background: hsla(0,0%,87.8%,.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
	border-radius: .5em
}

div.code-toolbar>.toolbar a:focus,div.code-toolbar>.toolbar a:hover,div.code-toolbar>.toolbar button:focus,div.code-toolbar>.toolbar button:hover,div.code-toolbar>.toolbar span:focus,div.code-toolbar>.toolbar span:hover {
	color: inherit;
	text-decoration: none
}

.command-line-prompt {
	border-right: 1px solid #999;
	display: block;
	float: left;
	font-size: 100%;
	letter-spacing: -1px;
	margin-right: 1em;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.command-line-prompt>span:before {
	color: #999;
	content: " ";
	display: block;
	padding-right: .8em
}

.command-line-prompt>span[data-user]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] $"
}

.command-line-prompt>span[data-user=root]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] #"
}

.command-line-prompt>span[data-prompt]:before {
	content: attr(data-prompt)
}
/* twikoo 评论样式 */
.twikoo{overflow: visible !important;}
.tk-extras,.tk-row.actions .tk-action-icon.__markdown,.tk-preview,.tk-content p a.at,.tk-tag.tk-tag-green{display: none !important;}
.tk-content{margin-top:0px !important;}
.tk-content span:first-child{float:left;}
.tk-content p{margin: 0;text-align: left;}
.tk-comment{margin-top: 17px !important;}
.tk-comments-container .tk-avatar{margin-top:10px;}
.tk-replies .tk-content span:first-child{visibility:hidden;}
.tk-replies .tk-content span:first-child a{visibility:visible !important;margin-left: -2em;}
.tk-expand{border-radius:0 0 5px 5px;position:relative;z-index:99;margin-top:-10px;padding:0 !important;}
.tk-admin{position:fixed !important;z-index:999;}
.el-button.tk-preview{border:none;}
.el-input.is-active .el-input__inner, .el-input__inner:focus,.el-textarea__inner{border-color:#ccc !important;}
.el-button--primary.is-disabled,.el-button--primary.is-disabled:active,.el-button--primary.is-disabled:focus,.el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.tk-action-icon svg{fill: #434a56 !important;}
.tk-comments-title .tk-icon svg{fill: #ccc !important;}
.tk-action-count{color: #434a56 !important;}
.el-loading-mask{background-color: #fff !important;}
.dark .el-loading-mask{background-color: #292a2d !important;}
.dark .tk-expand{background:linear-gradient(rgba(38,42,56,0),#3b3d42) !important;}
.dark .el-button,.dark .el-input__inner, .dark .el-textarea__inner{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark .tk-meta-input .el-input .el-input-group__prepend{color: silver !important;background-color: #4a4b50 !important;border-color: #4a4b50 !important;}
.dark .el-button--primary.is-disabled,.dark .el-button--primary.is-disabled:active,.dark .el-button--primary.is-disabled:focus,.dark .el-button--primary.is-disabled:hover{color: #FFF !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark .tk-action-icon svg{fill: #ccc !important;}
.dark .tk-comments-title .tk-icon svg{fill: #4a4b50 !important;}
.dark .tk-action-count{color: #ccc !important;}
.OwO .OwO-body {z-index: 99;}
.OwO .OwO-body .OwO-items-emoji .OwO-item{font-size:23px !important;}
.OwO .OwO-body .OwO-items-image .OwO-item{max-width: calc(20% - 10px) !important;}
.dark .OwO-body{color: silver !important;background-color: #252627 !important;border-color: #4a4b50 !important;}
.dark .OwO .OwO-body .OwO-bar{border-top: 1px solid #4a4b50 !important;}
.dark .OwO .OwO-body .OwO-items .OwO-item,.dark .OwO .OwO-body .OwO-bar{background:#4a4b50 !important;color: #ccc !important;}
.dark .OwO .OwO-body .OwO-bar .OwO-packages li:hover,.dark .OwO .OwO-body .OwO-items-image .OwO-item:hover,.dark .OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active{background-color: #252627 !important;}

.gallery-photos{width:100%;column-count:6;column-gap:0;}
.gallery-photo{position: relative;overflow: hidden;animation: fadeIn 2s;}
.gallery-photo img{display: block;width:100%;border-radius:0;padding:4px;animation: fadeIn 1s;cursor: pointer;transition: all .4s ease-in-out;}
.gallery-photo span.photo-title,.gallery-photo span.photo-time{background: rgba(0, 0, 0, 0.3);padding:0px 8px;font-size:0.9rem;color: #fff;display:none;animation: fadeIn 1s;}
.gallery-photo span.photo-title{position:absolute;bottom:4px;left:4px;}
.gallery-photo span.photo-time{position:absolute;top:4px;left:4px;font-size:0.8rem;}
.gallery-photo:hover span.photo-title,.gallery-photo:hover span.photo-time{display:block !important;}
.gallery-photo:hover img{transform: scale(1.1);}
.page .gallery-photo span.photo-time,.page .gallery-photo span.photo-title{display: block;}
@media (max-width: 683px){
	.page .gallery-photo span.photo-time{display: none;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
   100% {opacity: 1;}
}
.page.gallery-photos{margin-top:4px;}
@media (max-width: 980px){
	.gallery-photos{column-count:3;}
}

.post-content p:has(> img:nth-child(2)){column-count:2;column-gap:8px;margin:6px 0;}
.post-content p:has(> img:nth-child(3)){column-count:3;}
.post-content p:has(> img:nth-child(4)){column-count:4;}
.post-content p:has(> img:nth-child(5)){column-count:5;}
.post-content p:has(> img:nth-child(6)){column-count:4;}
.post-content p:has(> img:nth-child(2)) img{display:inherit;}
.post-content p:has(> img:nth-child(6)) img{margin-bottom:8px;}

.fullscreen{margin-left:calc(490px - 50vw);width:calc(100vw - 20px);column-count:4;column-gap:6px;}
.fullscreen img{display:inherit;margin-bottom:8px;}
@media (max-width: 980px){
	.fullscreen{margin-left: 0;width:auto;column-count:3;}
}

/* SLIMBOX2 */
#lbOverlay{position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;background-color:#000;cursor:pointer;}
#lbCenter, #lbBottomContainer{position:absolute;z-index: 9999;overflow: hidden;background-color:#fff;}
.lbLoading{background:#fff url('') no-repeat center;}
#lbImage {position:absolute;left:0;top:0;border:6px solid #fff;background-repeat:no-repeat;}
#lbPrevLink,#lbNextLink{display: block;position: absolute;top:0;width:50%;outline:none;}
#lbPrevLink{left:0;}
#lbNextLink{right:0;}

/* breadcrumb */
.breadcrumb {background: #fafafa;background: var(--light-header);padding:5px 15px; margin:30px 0 40px; list-style: none;border-radius: 4px;font-size: 1rem;border: 1px solid var(--light-background-secondary);}
.dark .breadcrumb{border: 1px solid var(--dark-background-secondary);}
.breadcrumb>li{display:inline-flex;opacity:.7;white-space:nowrap;}
.breadcrumb>li.active{white-space:normal;}
.breadcrumb>li+li:before {padding:0 5px; color: #ccc; content: ">"; }
.breadcrumb li a{text-decoration:none;}
.dark .breadcrumb {background: #252627;background: var(--dark-header);}
/* searchBoxInput */
.menu .search-box-icon {margin-top: 11px; }
.searchPage{min-height:300px}
.search-box {position: relative; margin-bottom: 20px; } #searchBoxInput {padding: 0.5rem 2rem 0.5rem 1rem; width: 16rem; background:#eaeaea; border-radius: 1rem; outline: 0; font-size: 1rem; color: inherit; border: 0px; box-sizing: border-box; }
.dark .search-box #searchBoxInput {background: #3b3d42; }
#searchBoxButton {display: inline; background: none; margin: 0rem; border:0 none; border-radius: 0; padding: 0.4rem 0.6rem 0.4rem; }
.search-box-icon {color: inherit; fill: currentColor; width: 1.1rem; height: 1.1rem; }

.links-item{padding:10px 15px;font-size:14px;width:49%;box-sizing:border-box;display:inline-block;vertical-align:top;background: #fafafa;
    background: var(--light-header);border-radius: 4px;}
.links-item img{border-radius:4px;float:left;width:32px;height:32px;background: #fff;}
.links-item a{display: block;padding:0 12px;margin-left:35px;word-break: keep-all;height: 32px;overflow: hidden;}
.links-item{width:135px;margin:0 12px 8px 0;}
@media only screen and (max-width:683px) {
	.links-item{width:144px;margin:0 0 8px;}
}
.dark .links-item{background: #252627;background: var(--dark-header);}

/* tocify */
.tocify {width: 20%; max-height: 90%; overflow: auto; position: absolute; right:2%; border-radius: 6px;}
.tocify ul, .tocify li {list-style:none;margin:0;padding:0;border:none;line-height:30px; }
.tocify li a {display: inline-block;text-indent:10px;font-size:14px;text-decoration:none; }
.tocify ul ul li a:before {content: "- "}
@media only screen and (max-width:683px) {
	.tocify {display: none;}
}

.dark .light-wormhole,.dark-wormhole{display: none;}
.dark .dark-wormhole{display: block;}

#bber-talk{display:-webkit-flex;display:flex;width:100%;line-height:35px;height:45px;max-width:960px;text-align:left;padding:5px 15px;margin:50px 0 20px;position: relative;background-color: var(--light-header);border-radius:8px;font-size:15px;overflow:hidden;border: 1px solid var(--light-background-secondary);}
.dark #bber-talk{border: 1px solid var(--dark-background-secondary);}
#bber-talk svg{fill: currentColor;vertical-align: middle;display: inline;margin-right:5px;margin-top: -4px;}
.talk-wrap{width:96%;}
.talk-list{margin: 0;height: 35px;}
.talk-list li {list-style:none;margin-bottom:10px;width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;zoom: 1;}
.talk-list li .datetime{margin-right:2px;}
.talk-list li a{text-decoration:none;}
.dark #bber-talk{background-color: var(--dark-header);}
.dark .talk-list{color: var(--dark-color);}
@media only screen and (max-width:683px) {
  #bber-talk{margin:2em 1em 1em;width:94%;}
}

/* douban action*/
.gFnzgG,.gFnzgG *{box-sizing:border-box}
.fIuTG{display:flex;flex-wrap:wrap;margin:0 -2%;background:0 0;line-height:100%}
.dfdORB{width:21%;margin:0 2% 30px;padding:0;font-size:15px}
.dfdORB a{text-decoration:none}
.kMthTr{margin-top:5px;line-height:1.3;max-height:2.6rem;overflow:hidden}
.eysHZq{display:flex;-webkit-box-align:center;align-items:center;margin-top:12px;min-height:16px;line-height:1}
.HPRth{position:relative;min-height:87px;overflow:hidden;color:transparent}
.HPRth:hover{box-shadow:rgb(48 55 66 / 30%) 0 1rem 2.1rem}
.jcTaHb{display:flex;-webkit-box-align:center;align-items:center}
.lhtmRw{margin-right:1px;width:12px;height:12px;color:#fccd59}
.gaztka{margin-right:1px;width:12px;height:12px;color:#eee}
.iibjPt{margin-left:5px;color:#555;font-size:14px}
.jvCTkj{margin-bottom:10px}
.kEoOHR{display:inline-block;margin-right:15px;text-decoration:none;color:#157efb}
.dvtjjf{display:inline-block;color:#555;text-decoration:none;padding:0 5px}
.dvtjjf.active{background:rgba(85,85,85,.1)}
.hide{display:none}
.sort-by{text-align:right;margin-top:-15px}
.sort-by-item{margin-left:10px;padding:0 5px;line-height:20px}
.sort-by-item.active{background:rgba(85,85,85,.1)}
.sort-by-item svg{margin-right:5px}
.sc-hKFxyN img{max-width:100%!important;height:auto!important;display:block!important;vertical-align:middle!important}
@media(min-width:1024px){
  .lg\:col-span-6{grid-column:span 6/span 6!important}
  .lg\:col-start-2{grid-column-start:2!important}
}
@media (max-width:550px){
  .jcTaHb,.sc-bdnxRM{display:none}
  .eysHZq .allstardark{display:none}
}


/* post-preview --------*/
.post-preview{max-width:680px;height:200px;margin:1em auto;position:relative;display:flex;background:#fff;border-radius:8px;box-shadow:0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.25);}.post-preview--meta{width:78%;padding:25px;overflow:hidden;}.post-preview--middle {line-height:28px;}.post-preview--title {font-size:18px;margin:0!important;}.post-preview--title a{text-decoration:none;}.post-preview--date{font-size:14px;color:#999;}.post-preview--excerpt{font-size:14px;line-height:1.825;}.post-preview--excerpt p{display: inline;margin: 0;}.post-preview--image {object-fit:cover;height:auto;width:22%;float:right;}.post-preview--image {border-top-right-radius: 8px!important;border-bottom-right-radius:8px!important;border-top-left-radius:0!important;border-bottom-left-radius:0!important;}
@media (max-width:550px) {.post-preview {width:95%;height:120px;}.post-preview--meta{padding:15px;}.post-preview--image{height:120px!important;}.post-preview--excerpt{display:none;}.post-preview--middle {line-height:19px;}}.dark .post-preview{background: #3b3d42;}

/* db-card -------- start*/
.db-card{margin:2rem 3rem;background:#fafafa;border-radius: 8px;box-shadow: 0 1px 2px rgb(0 0 0 / 25%), 0 0 1px rgb(0 0 0 / 25%)}
.db-card-subject{display: flex;align-items:flex-start;line-height:1.6;padding:12px;position:relative;}
.dark .db-card{background:#252627;}
.db-card-content {flex:1 1 auto;}
.db-card-post {width: 96px;margin-right: 15px;display: flex;flex: 0 0 auto;}
.db-card-title {margin-bottom: 5px;font-size: 18px;}
.db-card-title a{text-decoration: none!important}
.db-card-abstract,.db-card-comment{font-size:14px;overflow: hidden;max-height:3rem;}
.db-card-cate{position: absolute;top:0;right:0;background:#f99b01;padding:1px 8px;font-size:small;font-style:italic;border-radius:0 8px 0 8px;text-transform:capitalize;}
.db-card-post img{width: 96px!important;height: 96px!important;border-radius: 4px;-o-object-fit: cover;object-fit: cover;}
.rating{margin: 0 0 5px;font-size:13px;line-height: 1;display: flex;align-items: center;}
.rating .allstardark{position:relative;color: #f99b01;height: 16px;width: 80px;background-size: auto 100%;margin-right: 8px;background-repeat: repeat;background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6TTY2NC44IDU2MS42bDM2LjEgMjEwLjNMNTEyIDY3Mi43IDMyMy4xIDc3MmwzNi4xLTIxMC4zLTE1Mi44LTE0OUw0MTcuNiAzODIgNTEyIDE5MC43IDYwNi40IDM4MmwyMTEuMiAzMC43LTE1Mi44IDE0OC45eiIgZmlsbD0iI2Y5OWIwMSIvPjwvc3ZnPg==);
}
.rating .allstarlight{position: absolute;left: 0;color: #f99b01;height:16px;overflow: hidden;background-size: auto 100%;background-repeat: repeat;background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6IiBmaWxsPSIjZjk5YjAxIi8+PC9zdmc+);}
@media (max-width:550px) {
	.db-card{margin:0.8rem 1rem;}
	.db-card-comment{display: none;}
}
/* db-card -------- end */

/* goods-------- start*/
:root{--code-bg:#fefefe}
.dark{--code-bg:#3b3d42}
#goods{display:grid;grid-gap:2rem;grid-template-columns:repeat(auto-fill,minmax(200px,1fr));}
.goods-bankuai{height:326px;list-style:none;border-radius:8px;background:var(--code-bg);padding:0 16px;overflow:hidden;border:1px solid var(--light-background-secondary);box-shadow:0 4px 6px rgba(0,0,0,.04)}
.dark .goods-bankuai{border:1px solid var(--dark-background-secondary);}
.goods-duiqi{min-height:164px;display:flex;justify-content:center;align-items:center}
.goods-duiqi img{width:80%;margin:0;transition:transform .2s ease-in-out;cursor:pointer}
.goods-duiqi:hover img{transform:translateY(-4px)}
.goods-title{font-size:14px;margin:0;transition:.5s}
.goods-title a{font-size:14px;text-decoration:none}
.goods-jiage{color:#999;font-size:14px;line-height:1.4rem}
.goods-note{color:#999;font-size:14px;line-height:1.3rem}

@media (max-width:700px){
.goods-title{font-size:14px;margin:0 10px!important;transition:.5s}
.goods-jiage{margin:0 10px 0 10px}
.goods-duiqi img{width:50%;margin:0}
.goods-note{line-height:1.3rem;margin:8px 10px 0 10px}
.goods-title{font-size:14px;margin:0 auto;line-height:1.5rem}
.goods-title a{font-size:14px;text-decoration:none;box-shadow:none}
}
@media screen and (min-width:700px) and (max-width:900px){
.goods-quanju{font-size:0;width:106%}
.goods-title{font-size:14px;margin:0 auto;line-height:1.5rem;transition:.5s}
.goods-title a{font-size:14px;text-decoration:none;box-shadow:none}
}
@media (min-width:900px){
.goods-quanju{font-size:0;width:106%}
.goods-note{font-size:14px;line-height:1.3rem;margin-top:.5rem}
.goods-duiqi img{width:80%;margin:0}
.goods-bankuai.img-hide img{transition:transform .2s ease-in-out;cursor:pointer}
.goods-bankuai.img-hide:hover img{transform:translateY(-4px)}
.goods-title{font-size:16px;margin:0 auto;line-height:1.6rem;transition:.5s}
.goods-title a{font-size:16px;text-decoration:none;box-shadow:none;transition:.5s}
}
/* goods -------- end */

/* memos-photo-wrapper-------- start*/
.memos-photo-wrapper{grid-template-columns:repeat(4,minmax(0,1fr));margin-top:.5rem;display:grid;width:100%;gap:.5rem}.memos-photo{position:relative;overflow:hidden;border-radius:.25rem;height:194px}.memos-photo>img{min-height:100%;width:auto;min-width:100%;cursor:pointer;-o-object-fit:cover;object-fit:cover;height:auto;animation:fadeIn 1s;transition:all .4s ease-in-out}.memos-photo span.photo-time,.memos-photo span.photo-title{background:rgba(0,0,0,.3);padding:0 8px;font-size:.9rem;color:#fff;display:none;animation:fadeIn 1s}.memos-photo span.photo-title{position:absolute;bottom:4px;left:4px}.memos-photo span.photo-time{position:absolute;top:4px;left:4px;font-size:.8rem}.memos-photo:hover span.photo-time,.memos-photo:hover span.photo-title{display:block!important}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@media screen and (min-width:480px) and (max-width:899px){.memos-photo-wrapper{grid-template-columns:repeat(3,minmax(0,1fr))}.memos-photo{height:201px}}@media only screen and (max-width:479px){.memos-photo-wrapper{grid-template-columns:repeat(2,minmax(0,1fr))}.memos-photo{height:171px}}
/* memos-photo-wrapper -------- end */

.tongji{font-size:1rem;}
.reaction{line-height:normal;}
