@font-face {
  font-family: "iconfont"; /* Project id 1941671 */
  src: url('//at.alicdn.com/t/c/font_1941671_x69kdv1xgoh.woff2?t=1688431318805') format('woff2'),
       url('//at.alicdn.com/t/c/font_1941671_x69kdv1xgoh.woff?t=1688431318805') format('woff'),
       url('//at.alicdn.com/t/c/font_1941671_x69kdv1xgoh.ttf?t=1688431318805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconswitchuser:before {
  content: "\e8ea";
}

.iconinteration:before {
  content: "\e7a7";
}

.iconretweet:before {
  content: "\e8f0";
}

.iconimage:before {
  content: "\e8d9";
}

.iconunorderedlist:before {
  content: "\e7f5";
}

.iconedit-square:before {
  content: "\e797";
}

.iconexport:before {
  content: "\e798";
}

.iconsave:before {
  content: "\e799";
}

.iconImport:before {
  content: "\e79a";
}

.iconcontrol:before {
  content: "\e79b";
}

.iconcodelibrary:before {
  content: "\e79c";
}

.icondetail:before {
  content: "\e79d";
}

.iconcheck-square:before {
  content: "\e7a8";
}

.iconselect:before {
  content: "\e7da";
}

.iconnumber:before {
  content: "\e7f8";
}

.iconcode:before {
  content: "\e7fc";
}

.iconuser:before {
  content: "\e7ae";
}

.iconlink-ex:before {
  content: "\e615";
}

.iconcheck-circle:before {
  content: "\e77d";
}

.iconcompass:before {
  content: "\e77e";
}

.iconclose-circle:before {
  content: "\e77f";
}

.iconfrown:before {
  content: "\e780";
}

.iconinfo-circle:before {
  content: "\e781";
}

.iconleft-circle:before {
  content: "\e782";
}

.icondown-circle:before {
  content: "\e783";
}

.iconcopyright:before {
  content: "\e784";
}

.iconminus-circle:before {
  content: "\e785";
}

.iconmeh:before {
  content: "\e787";
}

.iconplus-circle:before {
  content: "\e788";
}

.iconquestion-circle:before {
  content: "\e789";
}

.iconright-circle:before {
  content: "\e78b";
}

.iconsmile:before {
  content: "\e78c";
}

.icontrademark:before {
  content: "\e78d";
}

.icontime-circle:before {
  content: "\e791";
}

.icontimeout:before {
  content: "\e793";
}

.iconearth:before {
  content: "\e794";
}

.iconup-circle:before {
  content: "\e795";
}

.iconwarning-circle:before {
  content: "\e796";
}

.iconblock:before {
  content: "\e7e3";
}

.iconbarchart:before {
  content: "\e7af";
}

.iconfund:before {
  content: "\e7de";
}

.iconfire:before {
  content: "\e842";
}

.iconthunderbolt:before {
  content: "\e843";
}

.iconView:before {
  content: "\e917";
}

.icondaytime-mode:before {
  content: "\e839";
}

.icondaytime-mode-fill:before {
  content: "\e83a";
}

.iconnight-mode-fill:before {
  content: "\e83d";
}

.iconnight-mode:before {
  content: "\e83e";
}

.iconlink:before {
  content: "\e7e2";
}

.iconup:before {
  content: "\e7ef";
}

.icondown:before {
  content: "\e7f0";
}

.iconsync:before {
  content: "\e786";
}

.iconmessage:before {
  content: "\e78a";
}

.iconsetting:before {
  content: "\e78e";
}

.iconeye:before {
  content: "\e78f";
}

.iconlocation:before {
  content: "\e790";
}

.iconappstore:before {
  content: "\e792";
}

.iconskin:before {
  content: "\e7c4";
}

.iconlike:before {
  content: "\e7c8";
}

.iconunlike:before {
  content: "\e7c9";
}

.iconcarryout:before {
  content: "\e7d3";
}

.iconcalendar:before {
  content: "\e7d4";
}

.iconscan:before {
  content: "\e7d5";
}

.iconsliders:before {
  content: "\e7d6";
}

.iconprinter:before {
  content: "\e7d8";
}

.iconread:before {
  content: "\e7d9";
}

.iconradarchart:before {
  content: "\e7dc";
}

.iconqrcode:before {
  content: "\e7dd";
}

.iconmail:before {
  content: "\e7df";
}

.iconheart:before {
  content: "\e7e0";
}

.iconstar:before {
  content: "\e7e1";
}

.icontags:before {
  content: "\e7e5";
}

.iconfullscreen:before {
  content: "\e7ec";
}

.iconfullscreen-exit:before {
  content: "\e7ed";
}

.iconmenu:before {
  content: "\e7f4";
}

.iconheart-fill:before {
  content: "\e849";
}

.iconskin-fill:before {
  content: "\e865";
}

.iconlike-fill:before {
  content: "\e869";
}

.iconunlike-fill:before {
  content: "\e86a";
}

.iconstar-fill:before {
  content: "\e86b";
}

.icontags-fill:before {
  content: "\e86e";
}

.iconmail-fill:before {
  content: "\e86f";
}

.iconprinter-fill:before {
  content: "\e870";
}

.iconsliders-fill:before {
  content: "\e872";
}

.iconapple-fill:before {
  content: "\e881";
}

.iconQQ:before {
  content: "\e882";
}

.icontwitter:before {
  content: "\e883";
}

.iconskype-fill:before {
  content: "\e884";
}

.iconweibo:before {
  content: "\e885";
}

.iconyuque-fill:before {
  content: "\e886";
}

.iconYoutube-fill:before {
  content: "\e887";
}

.iconyahoo-fill:before {
  content: "\e888";
}

.iconwechat-fill:before {
  content: "\e889";
}

.iconalipay-circle-fill:before {
  content: "\e88a";
}

.icongithub-fill:before {
  content: "\e88b";
}

.icondribbble-circle-fill:before {
  content: "\e88c";
}

.icondingtalk-circle-fill:before {
  content: "\e88d";
}

.iconcomment:before {
  content: "\e8e8";
}

.iconsearch:before {
  content: "\e8ef";
}

.iconsend:before {
  content: "\e916";
}
